*{
    padding: 0;
    margin: 0;
}

.container {
    background-image: url('../assets//img/Rectangle\ 2.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    p{
        color: white;
    }

    h1{
        color: white;
        font-weight: bold;
    }

    button{
        padding:15px;
        margin-right: 5px;
        border-radius: 3px;
    }

}

