.custom-css::before{

    display: block;
    content: "";
    position: absolute;
}


.custom-css{
    background: url('../../utils/img/bg1.jpeg');
    width: 100vw;
    height: 100vh;
    

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box{
    
    padding: 0 4rem;
    width: 70%;
    height: 60%;
    display: block;
    margin-top: 40px;
    
}
.btn::before{

    display: block;
    content: "";
    position: absolute;
}


.btn{
    z-index: -1;
}

@media screen and (max-width: 767px){
    .box{
        padding: 0 2rem;
        width: 90%;
        height: 100%;
        margin: 4rem;
        margin-top: 8rem;

    }

}